<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>忘记密码</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="renderer" content="webkit">
        <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
        <meta name="wap-font-scale" content="no">
        <meta content="telephone=no" name="format-detection"/>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <link rel="stylesheet" href="__PUBLIC__/wap/css/html5.css" />
        <link rel="stylesheet" href="__PUBLIC__/wap/css/index.css" />
        <script type="text/javascript" src="__PUBLIC__/wap/js/jquery-1.10.2.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/screenSize.js" ></script>
    </head>  
    <body style="display: none;">
        <div class="box">
            <header>
                <i onClick="javascript :history.back(-1);"></i>
                <p>忘记密码</p>
            </header>

            <form  method="post" class="form-horizontal" action="{:U('login/forget_password')}" onsubmit="return check()">
                <div class="huiyuandenglu">
                    <div class="huiyuandenglu_ct c">
                        <label class="fl">手机号：</label>
                        <input name="phone" id="phone"  type="tel" placeholder="请输入手机号" maxlength="11" class="fl"/>
                    </div>
                    <div class="huiyuandenglu_ct c">
                        <label class="fl">验证码：</label>
                        <input  id="vcode"  name="vcode" type="text" placeholder="请输入验证码" maxlength="4" class="fl" style="width: 9.481rem;height: 2.963rem;padding: 1.04rem 0rem;border: none;color: #c2c1c1;font-size: 0.8889rem;"/>
                        <span id="get_code_button" onclick="seed()"  class="fr">请输入验证码</span>
                    </div>		
                    <!--javascrtpt:window.location.href = '{:U(\'user/set_password\')}'-->
                    <button onclick="">下一步</button>				
                </div>
            </form>
        </div>
        <input type="hidden" id="vcode_flag" value="">
    </body>
    <script>
        $("body").show();

        //****************************************************************************************
////获取短信验证码
        var countdown = 60;
        var btnable = 1;
        function seed() {
            if (btnable == 0) {
                return false;
            }
            var tel = document.getElementById('phone').value;
            var tel_z = /^1[1,3-5,7-9]\d{9}$/;
            if (tel.length <= 0) {
                alert("请输入手机号码");
                return false;
            }
            if (!tel_z.test(tel)) {
                alert("手机号码格式不正确！");
                return false;
            }
            //检测当前账号是否存在？
            var str = $.ajax({async: false, cache: false, url: "{:U('ajax/check_register_mobile_number')}&mobile=" + tel + "  ", data: ""}).responseText;
            if (str == 0) {
                alert("用户不存在！");
                return false;
            }
            btnable = 0; //将按钮置为不可点击
            $('#get_code_button').attr('disabled', true);
            alert("短信发送成功！");
            fasongtimer = setInterval("settime()", 1000);
            $.ajax({
                url: "{:U('ajax/send_sms')}",
                type: "POST",
                async: true,
                data: {tel: tel},
                cache: false,
                success: function (data) {
                    // alert("发送成功！");
                    console.log(data);
                }

            })
        }
        //时间倒计时60
        function settime() {
            if (countdown <= 0) {
                document.getElementById('get_code_button').style.background = '#21a5ff';
                btnable = 1;
                $('#get_code_button').removeAttr("disabled");
                $('#get_code_button').html('获取验证码');
                clearInterval(fasongtimer);
                countdown = 60; //重置时间
                return false;
            }
            countdown = countdown - 1;
            document.getElementById('get_code_button').style.background = '#999999';
            document.getElementById('get_code_button').innerHTML = "等待" + countdown + "秒";
        }
//*************************************************************************************

        //验证验证码是否正确
        $("#vcode").on("input", function () { 
            $.get("{:U('ajax/check_if_cvode_is_verified')}", {vcode: $(this).val()}, function (c) {
                $("#vcode_flag").val(c)
            })
        })

        //提交表单时 进行验证
        function check() {
            if (!$("#phone").val().match(/^1[1,3-5,7-9]\d{9}$/)) {
                alert("电话格式不正确！")
                return false;
            }
            if ($("#vcode_flag").val() != 1) {
                alert("验证码不正确！")
                return false;
            } 
            return true;
        }

        //输入电话号时清空验证码
        $("#phone").on('input', function () {
            $("#vcode").val("");
            $("#vcode_flag").val("")
        })
    </script>
</html>
