<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>设置新密码</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="renderer" content="webkit">
        <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
        <meta name="wap-font-scale" content="no">
        <meta content="telephone=no" name="format-detection"/>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <link rel="stylesheet" href="__PUBLIC__/wap/css/html5.css" />
        <link rel="stylesheet" href="__PUBLIC__/wap/css/index.css" />
        <script type="text/javascript" src="__PUBLIC__/wap/js/jquery-1.10.2.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/screenSize.js" ></script>
    </head>  
    <body style="display: none;">
        <div class="box">
            <header>
                <i onClick="javascript :history.back(-1);"></i>
                <p>设置新密码</p>
            </header>

            <form  method="post" class="form-horizontal" action="{:U('login/set_password')}" onsubmit="return check()">
                <div class="huiyuandenglu c">
                    <div class="huiyuandenglu_ct c">
                        <label class="fl">新密码：</label>
                        <input name="password" id="password" type="password" placeholder="请输入新密码" maxlength="18" class="fl"/>
                    </div>
                    <div class="huiyuandenglu_ct c">
                        <label class="fl" style="width: 7rem;height: 2.963rem;">确认新密码：</label>
                        <input id="repassword" type="password" placeholder="请再次输入密码" maxlength="18" class="fl" style="width: 18rem;height: 2.963rem;"/>
                    </div>
                    <button>确    定</button>				
                </div>
            </form>
        </div>
    </body>
    <script>
        $("body").show();

        //提交表单时 进行验证
        function check() {
            if (!$("#password").val().match(/^\w{6,12}$/)) {
                alert("密码长度为6~12！")
                return false;
            }
            if ($("#repassword").val() != $("#password").val()) {
                alert("两次输入密码不一致！")
                return false;
            }
            return true;
        }
    </script>
</html>
