<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>报名列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
	<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
	<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>报名列表</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                    	<table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>会员名</th>
                                    <th>电话</th>
									<th>加入时间</th>
                                </tr>
                            </thead>
                            <tbody>
						    <volist name="sell" id="sell">
                                <tr>
                                    <td>{$sell.realname}</td>
                                    <td>{$sell.phone}</td>
                                    <td>{$sell.bao_addtime}</td>  
                                </tr>
							</volist>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/md5.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>

<script src="__PUBLIC__/manage/js/plugins/layer/laydate/laydate.js"></script>
<script>
    
    var start = {
        elem: "#start", //需显示日期的元素选择器
        format: "YYYY-MM-DD hh:mm:ss", //日期格式
        min: "2017-01-01 23:59:59",
        max: "2099-06-16 23:59:59",
		istime: false, //是否开启时间选择
        istime: true,  //是否显示清空
        istoday: false,  //是否显示今天
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
		istime: false, //是否开启时间选择
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
	
</script>


<script type="text/javascript" src="__PUBLIC__/manage/http/js/stats.js" charset="UTF-8"></script>
</body>

</html>
