<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>修改电话</title>
		<!--说明文字编码-->
		<meta http-equiv="Content-type" content="text/html" charset="utf-8">
		<!--针对 IE8 版本的一个特殊文件头标记，用于为 IE8 指定不同的页面渲染模式-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--设备物理宽度等于等于页面宽度,页面初始缩放1:1,禁止用户调整缩放-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
		<!--控制状态栏显示样式-->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--解决uc字体变大问题-->
		<meta name="wap-font-scale" content="no">
		<!--手机号码不被显示为拨号链接-->
		<meta content="telephone=no" name="format-detection" />
		<!--页面缓存时间的最大值是0秒，目的是不让页面缓存，每次访问必须到服务器读取-->
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bussniess/css/public.css" />
		<link rel="stylesheet" href="__PUBLIC__/bussniess/css/xgdh.css" />
	</head>
	<body>
		<div class="hd">
			<div class="hdcont">
				<p>提示</p>
				<img src="__PUBLIC__/bussniess/images/xiaolina.png" />
				<p>你好，你申请更改的信息已提交审核，请耐心等待。</p>
				<button class="btn2">关闭</button>
			</div>
		</div>
		<div class="head">
			<a href="{:U('index/bussniessinfo')}">
				<img src="__PUBLIC__/bussniess/images/back.png" />
			</a>
			<h1>修改电话</h1>
		</div>
		<input type="hidden" value="0" id="tipmsg" >
		<div class="clear" style="height: 4rem;"></div>
		<form class="m-t" role="form" action="{:U('index/xgdh')}" method="post" id="xgdh" >
		<div class="phone">
		
			<p>新电话:</p>
			<input type="tel" maxlength="11" id="sellerlinkphone" name="sellerlinkphone" value="{$sellerlinkphone}" onkeyup='this.value=this.value.replace(/\D/gi,"")' />
		</div>
		<input type="hidden" value="{$Think.session.seller.sellerlinkphone}" id="ss" >
		<button class="btn" onclick="xiugai();"  type="button" >确定</button>
		</form>
		<script type="text/javascript" src="__PUBLIC__/bussniess/js/screenSize.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/bussniess/js/jquery-3.1.1.min.js" ></script>
		<script>
			$(function(){
				/*$(".btn").click(function(){
					$(".hd").show();
				});*/
				$(".btn2").click(function(){
					$(".hd").hide();
					$("#xgdh").submit();
				});
			})
		</script>
		<script>
			$(function(){
				$("body").show()
			})
			
			function xiugai(){
			    var ss=$('#ss').val();
				var sellerlinkphone = $('#sellerlinkphone').val();
				var tipmsg=$('#tipmsg').val();
				
				if(sellerlinkphone.length<=0){
				alert("手机号不能为空！");
				$('#sellerlinkphone').focus();
				return ;
			    }
				
				if(!(/^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/.test(sellerlinkphone))){ 
					  alert("手机号码格式错误"); 
					  $('#sellerlinkphone').focus(); 
					  return ; 
				}
					 
                if(sellerlinkphone==ss){
				alert("手机号不能相同！");
				$('#sellerlinkphone').focus();
				 return ;
			    }
				
                if(tipmsg==0){
					$(".hd").show();
					return;
				}				
			
			}
		</script>
	</body>
</html>
