<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>优惠活动</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="renderer" content="webkit">
        <!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
        <meta name="wap-font-scale" content="no">
        <meta content="telephone=no" name="format-detection"/>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <link rel="stylesheet" href="__PUBLIC__/wap/css/html5.css" />
        <link rel="stylesheet" href="__PUBLIC__/wap/css/index.css" />
        <script type="text/javascript" src="__PUBLIC__/wap/js/jquery-1.10.2.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/screenSize.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/media-query.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/swiper-2.1.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/wap/js/jq_scroll.js" ></script>
    </head>  
    <body style="display: none;background-color: #fff;">
        <div class="box">
            <header>
                <i onClick="javascript :history.back(-1);"></i>
                <p>优惠活动</p>
            </header>	
            <div class="youhuihuodong">
                <ul id="container">
                    <volist name="activityList" id="activity">
                    <li>
                        <a href="{:U('system/activity_detail',array('activity_id'=>$activity['id']))}">
                            <img style="width: 100%;height: 100%" src="{$activity.activity_image}" />
                        </a>
                    </li>
                </volist>
                </ul>
            </div>	
        </div>
        <div id="loading" style="width:85px;height:85px;position:fixed;left:50%;top:50%;margin-top:-43px;margin-left:-43px;display:none;z-index:99999;">
            <img src="__PUBLIC__/wap/images/loading_page.gif">
        </div>
        <input type='hidden' id='page' value=1>
    </body>
    <script>
    </script>
    <script>
        $("body").show();
        //加载更多

        //滚动加载
        $(window).scroll(function () {
            var totalheight = 0;     //定义一个总的高度变量
            totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop()); //浏览器的高度加上滚动条的高度 （页面总高度）
            if ($(document).height() <= totalheight) {
                $("#loading").fadeIn(); //加载
                getData(page);
                $("#loading").fadeOut();//加载完毕
            }
        });



        function getData(nextpage) {
            var nextpage=$("#page").val();
            $.ajax({
                url: "{:U('ajax/activity_get_more')}&p="+nextpage,
                type: "get",
                timeout: 7000,
                success: function (data) {
                    var nextpage = $("#page").val(parseInt($("#page").val())+1); //重置当前页数
                    if (data.length == 0) {
                        //$("#getmore").html("没有更多数据").attr("disabled", true);
                    } else {
                        var data=data.activityList;
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            html += ' <li>';
                            html += '<a href="'+"{:U('system/activity_detail')}&activity_id="+data[i].id+'">';
                            html += ' <img style="width: 100%;height: 100%" src="'+data[i].activity_image+'" />';
                            html += '</a>';
                            html += ' </li>';
                        }
                        $("#container").append(html);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        }
    </script>
</html>
