<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>会员办理</title>
		<link rel="stylesheet" href="__PUBLIC__/bussniess/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bussniess/font/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bussniess/css/whtml5.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/bussniess/css/wmian.css" />
		<script src="__PUBLIC__/bussniess/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 20 * (clientWidth / 720) + 'px';
					};
				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</head>
	<body>
		<style type="text/css">
			body{background: #fff;}
			.tcdl{margin-top:10px; margin-bottom: 0;}
		</style>
		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<!--<a class="mui-action-back mui-icon iconfont icon-jiantou-copy-copy mui-pull-left" href="javascript:history.go(-1);"></a>-->
			<a href="{:U('index/index')}">
				<img src="__PUBLIC__/bussniess/images/back.png" style="position: absolute;height: 2rem;top: 1.1rem;left: 1.25rem;" />
			</a>
			<h1 class="mui-title">{$noticeinfo.title}</h1>
		</header>
		<div class="huiyanxvzhi">{$noticeinfo.content}</div>
		<div class="footer">
			<div class="top">
				<input type="checkbox" name="" id="checkment" value="" checked="checked"/>
				<p>我已看过并同意以上服务信息</p>
			</div>
			<dl class="tcdl">
				<a href="{:U('user/adduser')}" class="but">办理会员</a>
			</dl>
		</div> 
	</body>
	<script>
        $("body").show();
        $(function () {
            $("#checkment").on("change", function () {
                if ($(this).is(':checked')) { 
                    $(".but").css("background-color","#21a5ff").attr("href","{:U('user/adduser')}")
                }else{ 
                    $(".but").css("background-color","#999999").attr("href","#")

                }
            })
        })
    </script>
</html>