<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>消费记录</h5>
                </div>
                <div class="ibox-content">
				<form name="seachform" id="seachform" action="{:U('money/xiaofei')}" method="post">
                   <div class="row khcrj">
                   		<div class="col-sm-12"> 
							<input name="flag" id="flag" type="hidden" value="no">
                            <div class="chaxun form-group">
                                <button class="btn btn-primary " type="submit"  >
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">查询</span>
                                </button>
                                <button type="button" class="btn btn-primary"  onclick="location.href = '{:U('money/xfquanbjies')}'">
										<span class="bold">全部结算</span>
								</button>
                            </div> 
                        </div>
                   		<div class="col-sm-12">
                   			<dl class="shoujihao form-group">
                                <dt>车主姓名/电话</dt>
                                <dd>
                                    <input type="text" class="form-control" name="info[realname]" maxlength="11" value="{$realname}">
                                </dd>
                            </dl>
                            <dl class="shoujihao form-group">
                                <dt>会员车牌号</dt>
                                <dd>
                                    <input type="text" class="form-control" name="info[carcode]" maxlength="11" value="{$carcode}">
                                </dd>
                            </dl> 
                            <div class="qvdao form-group">
                                <select class="form-control"  name="info[is_checked]" id="is_checked">
                                    <option value="">是否确定</option>
									<volist name="is_checked" id="data1" >
                                    <option value="{$key}" <?php if($key==$ischecked):?>selected<?php endif;?>>{$data1}</option>
									</volist>
                                </select>
                            </div>
                            <dl class="riqi form-group">
                                <dt class="control-label ">日期</dt>
                                <dd>
                                    <input placeholder="开始日期"  name="info[starttime]" class="laydate-icon form-control layer-date" id="start"
									 value="{$starttime}">
                                    <input placeholder="结束日期"  name="info[endtime]" class="laydate-icon form-control layer-date" id="end"    value="{$endtime}">
                                </dd>
                            </dl>
                        </div>
                    </div> 
				</form>
                    <div class="table-responsive">
                    	<table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>车主姓名</th>
                                    <th>车主电话</th>
                                    <th>消费车牌</th>
                                    <th>消费时间</th>
                                    <th>所消费的洗车行</th> 
                                    <th>是否确定</th> 
                                    <th>状态</th>   
                                </tr>
                            </thead>
                            <tbody>
						    <volist name="incomelist" id="income">
                                <tr>
                                    <td>{$income.log_id}</td>
                                    <td>{$income.realname}</td>
                                    <td>{$income.phone}</td>
                                    <td>{$income.carcode}</td> 
                                    <td>{$income.log_time|date="m-d H:i:s",###}</td>
                                    <td>{$income.sellername}</td>
                                    <td>{$is_checked[$income['is_checked']]}</td> 
                                    <td>{$income.log_backmoney}</td>
                                </tr>
							</volist> 
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div> 
                    <div class="fixed-table-pagination" style="display: block;">
       	            {$pageshow}
       	            </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog daochu">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <form role="form ">
                            <div class="form-group">
                                <input type="password" id="export_pwd" placeholder="请输入数据导出密码" class="form-control">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm btn-primary btn-w-m" type="button" onclick="javascript:export_('{$outxlspsw}');">
                                    <strong>确定</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/md5.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>

<script src="__PUBLIC__/manage/js/plugins/layer/laydate/laydate.js"></script>
<script>
    
    var start = {
        elem: "#start", //需显示日期的元素选择器
        format: "YYYY-MM-DD hh:mm:ss", //日期格式
        min: "2017-01-01 23:59:59",
        max: "2099-06-16 23:59:59",
		istime: false, //是否开启时间选择
        istime: true,  //是否显示清空
        istoday: false,  //是否显示今天
        choose: function (datas) {
            end.min = datas;
            end.start = datas
        }
    };
    var end = {
        elem: "#end",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
		istime: false, //是否开启时间选择
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas
        }
    };
    laydate(start);
    laydate(end);
/*elem: '#id', //需显示日期的元素选择器
event: 'click', //触发事件
format: 'YYYY-MM-DD hh:mm:ss', //日期格式
istime: false, //是否开启时间选择
isclear: true, //是否显示清空
istoday: true, //是否显示今天
issure: true, 是否显示确认
festival: true //是否显示节日
min: '1900-01-01 00:00:00', //最小日期
max: '2099-12-31 23:59:59', //最大日期
start: '2014-6-15 23:00:00',    //开始日期
fixed: false, //是否固定在可视区域
zIndex: 99999999, //css z-index
choose: function(dates){ }//选择好日期的回调*/
</script>
<script>
	//导出密码
	function export_(a){
		  var export_pwd=document.getElementById("export_pwd").value;
		  var hash = md5(export_pwd);

            if(export_pwd.length <= 0 || export_pwd == ''){
				alert("请输入导出密码");
				$('#export_pwd').focus();
			}else if(hash!= a){
			    alert("密码错误");
				document.getElementById("export_pwd").value = "";
			    $('#export_pwd').focus();
			}else if(hash == a){
                $('#flag').val('wdfanxianmingxifile'); 
				$('#seachform').submit();
				$('#modal-form').modal('hide');
			}
	}
    function quanbu(){
	    location.href="{:U('money/wdfanxianmingxi')}"; 
	}
</script>

<script type="text/javascript" src="__PUBLIC__/manage/http/js/stats.js" charset="UTF-8"></script>
</body>

</html>
