<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>内容管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>内容列表</h5>
                </div>
                <div class="ibox-content">

                    <div class="row khcrj">
						<form name="seachform" id="seachform" action="{:U('content/contentList')}" method="post">
                        <div class="col-sm-12">
                        	<div class="daochu form-group">
                                <a href="{:U('content/addcontent')}" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">添加</span>
                                </a>
                            </div>
                            <div class="jiankong form-group">
                                <button class="btn btn-primary " type="submit"  >
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">查询</span>
                                </button>
                            </div>
                        </div>

                    	<div class="col-sm-12">
                            <dl class="mingcheng form-group">
                                <dt>标题</dt>
                                <dd>
                                    <input type="tel" class="form-control" name="info[title]" id="title" value="{$title}" maxlength="40">
                                </dd>
                            </dl>
                            <dl class="mingcheng form-group">
                                <dt>关键字</dt>
                                <dd>
                                    <input type="tel" class="form-control" name="info[keywords]" id="keywords" value="{$keywords}" maxlength="40">
                                </dd>
                            </dl>
                            <div class="qvdao form-group">
                                <select class="form-control"  name="info[classtype]" id="classtype" value="{$classtype}">
                                    <option value="">分类类型</option>
                                    <option value="1" <if condition="1 eq $classtype">selected</if>>单页</option>
                                    <option value="2" <if condition="2 eq $classtype">selected</if>>文章</option>
                                    <option value="3" <if condition="3 eq $classtype">selected</if>>其他</option>
                                </select>
                            </div>
                        </div>
						</form>
                    </div>
                    <div class="table-responsive">
                    	<table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>编号 </th>
                                    <th>标题 </th>
                                    <th>分类</th>
                                    <th>关键字</th>
									<th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
							<volist name="contentinfo" id="content">
                                <tr>
                                    <td>{$content.id}</td>
                                    <td>{$content.title}</td>
                                    <td>{$content.classtype}</td>
                                    <td>{$content.keywords}</td>
									<td><?php echo date('Y-m-d H:i:s',$content['addtime']);?></td>
                                    <td>
                                        <button class="btn btn-primary " type="button" onclick="location.href='{:U('content/editContent',array('content_id'=>$content['id']))}'">
                                            <span class="bold">修改</span>
                                        </button>
                                        <button class="btn btn-primary " type="button"  onclick="delconfirm({$content['id']},'{$content['classtype']}')">
                                            <span class="bold">删除</span>
                                        </button>
                                    </td>
                                </tr>
							</volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="fixed-table-pagination" style="display: block;">
                        {$pageshow}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>
<script src="__PUBLIC__/manage/js/plugins/peity/jquery.peity.min.js"></script>
<script src="__PUBLIC__/manage/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/manage/js/demo/peity-demo.min.js"></script>
<script>
   $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green"})

		//全选按钮绑定全选事件
		$('#inputall').on('ifChecked', function(event){ //ifCreated 事件应该在插件初始化之前绑定
			$("[id^='input_']").iCheck('check');//全选
			getallvalue();
		});
		//全选按钮绑定取消全选事件
		$('#inputall').on('ifUnchecked', function(event){ //ifCreated 事件应该在插件初始化之前绑定
			$("[id^='input_']").iCheck('uncheck');//取消全选
			getallvalue();
		});

		//每行绑定选中事件
		$("[id^='input_']").on('ifChanged', function(event){ //ifCreated 事件应该在插件初始化之前绑定
			console.log(event.target.checked);
			getallvalue();
		});
	});

	function getallvalue(){
		$("#allvalue").val('');
		var allvalue=new Array();
		$("[id^='input_']").each(function(i){
			//判断是否选中
			if($("[id^='input_']").eq(i).is(':checked')){
				allvalue.push($(this).attr("value"));
			}
		});
		$("#allvalue").val(allvalue.join(','));
	}
//确认删除
	function delconfirm(id,classtype)
    {
        var r=confirm('你确定要删除吗？');
        if (r==true) {
            location.href='{:U('content/delContent')}&content_id='+id+'&class_type='+classtype;
        }else{
            return false;
        }
    }
    //禁止启用跳转
	function bantail(str){
			var strstr="启用";
			 if(str==2){ //禁用
				strstr="禁用";
			 }
			if(confirm('确定要'+strstr+'交易吗?')){
					var allvalue=$('#allvalue').val();
					if(allvalue==""){
						alert("请选择要处理的用户记录");
						return false;
					}
					if(str==1){
						location.href="{:U('user/startuser')}&user_id="+allvalue;
						return false;
					}
					if(str==2){
						location.href="{:U('user/enduser')}&user_id="+allvalue;
						return false;
					}
				return true;
			}else{
				return  ;
			}

	}
</script>
</body>

</html>
