<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>修改密码</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改登录密码</h5>
                </div>
                <div class="ibox-content">
                    <form action="{:U('admin/password')}" method="post" class="form-horizontal" onsubmit="return tianjia()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="admin" class="form-control" name="username" id="username"  value="{$userinfo.username}" readonly>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">旧登录密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="info[password]"  id="password"  maxlength="15">
                                <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">新登录密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="info[password1_]"  id="password1_" maxlength="15">
                                <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">确认登录密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="info[password2_]"  id="password2_" maxlength="15">
                                <span class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">确认保存</button>
                                <button class="btn btn-white" type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/manage/http/js/stats.js" charset="UTF-8"></script>
</body>
<script>
	function tianjia(){
		var password = $('#password').val();
		var preg1=/^[\w\W]{5,15}$/;
		if(!preg1.test(password)){
		   alert("密码范围在5~15位之间");
		   $('#password').focus();
		   return false;
		}
	//检查旧密码输入是否正常
		var str=$.ajax({ async:false,cache:false,url:"{:U('admin/checkpass')}&password="+password+" ",data: "" }).responseText;
		if(str=="noon"){
		   alert("旧密码输入有误，请重新输入！");
		   $('#password').focus();
		   return false;
		}
		var password1_ = $('#password1_').val();
		var preg1=/^[\w\W]{5,15}$/;
		if(!preg1.test(password1_)){
		   alert("密码范围在5~15位之间");
		   $('#password1_').focus();
		   return false;
		}
		var password2_ = $('#password2_').val();
		var preg1=/^[\w\W]{5,15}$/;
		if(!preg1.test(password2_)){
		   alert("密码范围在5~15位之间");
		   $('#password2_').focus();
		   return false;
		}
		if(password2_!=password1_){
		   alert("两次输入密码不一样！");
		   $('#password2_').focus();
		   return false;
		}	
	}
</script>
</html>
