<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>修改幻灯片</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>

<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[id="content"]', {
		uploadJson : '{:U('kindeditor/upload_json',array('dir'=>image))}',
		fileManagerJson : '{:U('kindeditor/file_manager_json')}',
		allowFileManager : true,
		urlType : 'domain',
		afterCreate : function() {
			this.sync(); 
		},
		afterBlur:function(){ 
			this.sync(); 
		}
	});

	var uploadbutton = K.uploadbutton({
		button : K('#uploadButton')[0],
		fieldName : 'imgFile',
		url : '{:U('kindeditor/upload_json',array('dir'=>image))}',
		afterUpload : function(data) {
			if (data.error === 0) {
				var url = K.formatUrl(data.url, 'domain');
				K('#image').val(url);
			} else {
				alert(data.message);
			}
		},
		afterError : function(str) {
			alert('自定义错误信息: ' + str);
		}
	});
	uploadbutton.fileBox.change(function(e) {
		uploadbutton.submit();
	});
});
$(document).ready(function(e) {
    $("#classtype").uedSelect({
		width : 150			  
	});
});
</script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <small>修改幻灯片</small>
                    </h5>
                </div>
                <div class="ibox-content clearfix">
                        <form method="POST" class="form-horizontal" enctype="multipart/form-data" action="{:U('Photo/editphoto')}" id="addcontent"  onsubmit="return tianjia()" >
							<input type="hidden" name="focus_id" value="{$result[0]['focus_id']}"/>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
    
                                <div class="col-sm-2">
                                    <input type="text" style="width: 400px;height: 40px;" class="form-control" name="focus_title" id="title" value="{$result[0]['focus_title']}" maxlength="40" >
                                </div>
                            </div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">默认图片</label>
    
                                <div class="col-sm-2">
                                    <input type="text"  style="width: 400px;height: 40px;" class="form-control" name="focus_image" id="image" value="{$result[0]['focus_image']}" maxlength="255" readonly/><input type="button" id="uploadButton" value="上传" /><i class="Validform_checktip"></i>
							   </div>
                            </div>
							
							<div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">链接地址</label>
                                <div class="col-sm-2">
                                    <input type="text" style="width: 400px;height: 40px;" class="form-control" name="focus_url" id="keywords" value="{$result[0]['focus_url']}" maxlength="40" >
                                </div>
                            </div>
								<div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-2">
                                    <input type="text" style="width: 400px;height: 40px;" class="form-control" name="focus_sort" id="keywords" value="{$result[0]['focus_sort']}" maxlength="40" >
                                    <div style=" padding-top:5px;">升序排序</div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存</button>  &nbsp; &nbsp;
									<a href="{:U('Photo/index')}" class="btn btn-primary">返回</a>  
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	
		/*标题验证*/
		function checktitle() {
			if($("#title").val().length == 0){
				alert('标题不能为空!');
				return false;
			 }else{
				 return true;
			 }
		}
		
		function  checkimg(){
			  //请选择银行名称
			if($("#image").val().length == 0){
				alert('请选择图片!');	
				return false;
			}else{
				return true;
			}
		}
		function checklianjie() {
			//验证链接
			if($("#focus_url").val().length == 0){
				alert('链接地址不能为空!');
				return false;
			}else if($("#focus_url_").val().match(/^((https|http|ftp|rtsp|mms)?:\/\/)+[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/) == null){
				alert('链接地址格式不正确!');
				return false;
			}else{
				return true;
			}
		}
		function checkpaixu() {
			//验证排序
			if($("#focus_sort").val().length == 0){
				alert('排序不能为空!');
				return false;
			}else if($("#focus_sort").val().match(/^\d/) == null){
				alert('排序格式不正确!');
				return false;
			}else{
				return true;
			}
		}

		function tianjia(){
			return checktitle() && checkimg() && checklianjie() && checkpaixu();
		}


</script>

<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>
<script src="__PUBLIC__/manage/js/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
