<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>会员详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="__PUBLIC__/manage/http/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/manage/css/index.css" rel="stylesheet">
	<link href="__PUBLIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/select-ui.min.js"></script> 
	<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <small>会员详情</small>
                    </h5>
                </div>
                <div class="ibox-content clearfix">
                        <form method="POST" class="form-horizontal" action="{:U('user/edituser',array('user_id'=>$user['user_id']))}" id="adduserinfo" >
                           <div class="form-group">
                                <label class="col-sm-2 control-label">车牌号：</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info[carcode]" id="carcode"  value="{$user.carcode}" maxlength="15" readonly >
                                </div>
                            </div>
							 <div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">品牌：</label>
    
                                <div class="col-sm-2">
                                      <input name="info[brand]" id="brand" value="{$user.brand}" type="text" class="form-control" maxlength="20" readonly>
                                </div>
                            </div>
							 <div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">车型：</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info[cartype]" id="cartype"  value="{$user.cartype}" maxlength="20" readonly >
                                </div>
                            </div>
							
							 <div class="hr-line-dashed"></div>
						   <div class="form-group">
                                <label class="col-sm-2 control-label">用户名：</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info[realname]"  id="realname" value="{$user.realname}" maxlength="20" readonly>
                                </div>
                            </div>
							 <div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">手机号：</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info[phone]" id="phone" value="{$user.phone}" readonly  maxlength="11"  >
                                </div>
                            </div>
							
						 <div class="hr-line-dashed"></div>
						   <div class="form-group">
                                <label class="col-sm-2 control-label">经办人：</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" name="info[dealwith]"  id="dealwith" value="{$user.dealwith}" maxlength="20" readonly>
                                </div>
                            </div>
							
                            <div class="hr-line-dashed"></div>
                           <div class="form-group">
                                <label class="col-sm-2 control-label">微信公众号:</label>
    
                                <div class="col-sm-2">
                                    <input type="text" class="form-control"  name="info[openid]"  id="openid"  value="{$user.openid}" maxlength="20" readonly>
                                </div>
                            </div>
                           
						   <div class="hr-line-dashed"></div>
						    <div class="form-group">
                                <label class="col-sm-2 control-label">注册时间: </label>
                                <div class="col-sm-2">
                                    <input  name="info[addtime]" class="form-control" type="text" readonly value="{$user.addtime|date='Y-m-d',###}" >
                                   
                                </div>
							</div>
							
							 <div class="hr-line-dashed"></div>
						    <div class="form-group">
                                <label class="col-sm-2 control-label">到期日期: </label>
                                <div class="col-sm-2">
                                    <input  name="info[cleantime]" class="form-control" type="text" readonly value="{$user.cleantime|date='Y-m-d',###}" >
                                   
                                </div>
							</div>
							<if condition="$user['user_flag'] neq 1">
							<div class="hr-line-dashed"></div>
						    <div class="form-group">
                                <label class="col-sm-2 control-label">开始日期: </label>
                                <div class="col-sm-2">
                                    <input  name="info[clean_starttime]" class="form-control" type="text" readonly value="{$user.clean_starttime|date='Y-m-d',###}" >
                                   
                                </div>
							</div>
							<div class="hr-line-dashed"></div>
						    <div class="form-group">
                                <label class="col-sm-2 control-label">结束日期: </label>
                                <div class="col-sm-2">
                                    <input  name="info[clean_endtime]" class="form-control" type="text" readonly value="{$user.clean_endtime|date='Y-m-d',###}" >
                                   
                                </div>
							</div>
							</if>
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">会员状态</label>
    
                                <div class="col-sm-2">
						<select id="userable" name="info[userable]" ype="text" class="form-control" disabled>
							<option value="">请选择会员状态</option>
							<volist name="getuserable" id="data">
							<option value="{$key}" <if condition="$key eq $user['userable']"> selected</if>>{$data}</option>
							</volist>
						  </select>
                                </div>
                            </div>
							
					      <div class="hr-line-dashed"></div>
					 <div class="form-group">
							<label class="col-sm-2 control-label">会员类型</label>
                       <div class="col-sm-2">
						 <select id="user_flag" name="info[user_flag]" ype="text" class="form-control" disabled>
							<option value="">请选择会员类型</option>
							<volist name="userflag" id="data">
							<option value="{$key}" <if condition="$key eq $user['user_flag']" >selected</if>>{$data}</option>
							</volist>
						</select>
				       </div>
                     </div>
				
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
									<button class="btn btn-primary" type="reset" onclick="location.href='{:U('user/index')}'">返回</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__PUBLIC__/manage/http/js/jquery.min.js"></script>
<script src="__PUBLIC__/manage/http/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/manage/js/content.min.js"></script>
</body>
</html>
